PROCTOR_AI_URL=http://proctoring-ai:8000
S3_ENDPOINT=http://s3-beta.proactor.live:9000
S3_INTERNAL_ENDPOINT=http://rustfs:9000
S3_REGION=us-east-1
S3_ACCESS_KEY_ID=rustfsadmin
S3_SECRET_ACCESS_KEY=
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=
